html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
   background-color: beige;
}
header {
    height: 5rem;
    margin-top: -1rem;
    width: 40%;
    position: relative;
    margin-bottom: 4rem;
}


h1 {
    text-align: center;
    font-size: 4rem;
    display: flex;
    top: 0rem;
    position: relative;
    width: 100%;
    height: auto;
    margin-right: 2rem;
} 

nav {
    float: right;
}
nav ul {
    margin-top: -8rem;
}
ul li {
    margin-top: 0rem;
}

nav ul li {
    padding: 1rem;
    margin: 0;
    list-style-type: none;
    background-color: rgb(244, 198, 174);
    border-radius: 0.5rem;
    text-align: center;
    display: inline-block;
  
    margin-right: 2rem;
    box-shadow: 0.5em  0.5em  0.5em black;
    
 

}
nav ul li a {
    text-decoration: none;
    color: #fff;
  
}

#bitmoji{
    height: 700px;
}

#aboutMe {
    background-color: rgb(244, 198, 174);
    float: right;
    border: 0.25rem solid black;
    margin-right: 4rem;
    margin-top: 13rem;
    width: 60%;
    height: 40%;
    padding: 1rem;
    position: relative;
    display: block;
}

#aboutMe  h2 {
    text-align: center;
    font-size: 2rem;
    display: inline-flex;
  
}
#aboutMe p {
    font-size: 1rem;
    height: 40%;
    line-height: 2rem;
}
#projects {
    text-align: center;
    font-size: 2rem;
}

.project img {
    height: 100px;
    width: 200px;
    object-fit: cover;
    padding: 10px 10px;
    margin: 2rem;
    
}

.project-container {
    display: inline-flex;
    width: 100%;
    max-width: 90rem;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.card {
    margin: 100px auto 0;
    width: 350px;
    height: 250px;
}
.card_inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}
.card_inner.is-flipped {
    transform: rotateY(180deg);
}
.card_face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card_face--front{
    background-color: rgb(244, 198, 174);
    
  
}

.card_face--back {
    background-color: rgb(237, 175, 247);
    transform: rotateY(180deg);
   
}
.card_content {
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
    line-height: 2.2rem;
}
.card_header{
    position: relative;
    padding: auto;
}
.card_header:after{
    content:'';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 0 0 50% 0;
    background-color: rgb(244, 198, 174);

    
}
.card2 {
    margin: 100px auto 0;
    width: 350px;
    height: 250px;
}
.card_inner2 {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}
.card_inner2.is-flipped2 {
    transform: rotateY(180deg);
}
.card_face2 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card_face--front2{
    background-color: rgb(244, 198, 174);
    
  
}

.card_face--back2 {
    background-color: rgb(237, 175, 247);
    transform: rotateY(180deg);
   
}
.card_content2 {
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
    line-height: 2.2rem;
}
.card_header2{
    position: relative;
    padding: auto;
}
.card_header2:after{
    content:'';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 0 0 50% 0;
    background-color: rgb(244, 198, 174);

    
}

.card3 {
    margin: 100px auto 0;
    width: 350px;
    height: 250px;
}
.card_inner3 {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}
.card_inner3.is-flipped3 {
    transform: rotateY(180deg);
}
.card_face3 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card_face--front3{
    background-color: rgb(244, 198, 174);
    
  
}

.card_face--back3 {
    background-color: rgb(237, 175, 247);
    transform: rotateY(180deg);
   
}
.card_content3 {
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
    line-height: 2.2rem;
}
.card_header3{
    position: relative;
    padding: auto;
}
.card_header3:after{
    content:'';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 0 0 50% 0;
    background-color: rgb(244, 198, 174);

    
}
#skills{
    text-align: center;
    align-content: center;
    font-size: 2rem;
   
}
.logo {
    height: 50px;
    width: 50px;
    padding: 10px 10px;
    margin: 2rem;
    align-items: center;
    justify-content:space-between;
    text-align: center;
}
#skills-container {
    width: 100%;
    align-items: center;
    justify-content:space-between;
    text-align: center;

}
footer{
    align-items: center;
    justify-content:space-between;
    text-align: center;

}
@media screen and (max-width: 1100px) {
    nav {
        float: center;
        width: 100%;
        margin: 0;
        display: flexbox;
        margin-left: 40rem;
    }
    nav ul {
        margin-top: -32.5rem;
        width: 90%;
        align-content: center;
        margin-left: -0.5rem;
    }
    nav ul li {
        width: 100%;
        margin: 0.5rem;
        align-content: center;
    }
    header {
        height: 5rem;
        margin-top: 25rem;
        width: 100%;
        position: relative;
        align-content: center;
        margin-left: 18.7rem;
    }
    header h1 {
        text-align: center;
        width: 100%;
        align-content: center;
    }
    #bitmoji{
        height: 600px;
    }
    
    #aboutMe {
        margin-top: 8rem; 
    }
}
@media screen and (max-width: 950px) {

    header {
        margin-left: 17.5rem;
    }

}
@media screen and (max-width: 950px) {
    nav ul {
        margin-top: -30rem;
        margin-left: -1.5rem;
    }
    header {
        margin-left: 16.5rem;
    }

}
@media screen and (max-width: 920px) {
    header {
        margin-left: 19.5rem;
        margin-bottom: 1rem;
    }
    h1{
        font-size: 3rem;
    }
    #bitmoji{
        height: 400px;
    }
    
    #aboutMe {
        margin-top: 1rem; 
        height: 30%;
        width: 60%;
        padding: 0.5rem; 
    }
    #aboutMe  h2 {
        font-size: 1.5rem;
        margin-bottom: 0rem;
      
    }
    #projects {
        margin-top: 3rem;
        font-size: 1.5rem;
    }
    #skills {
        margin-top: 3rem;
        font-size: 1.5rem;
    }

}
@media screen and (max-width: 950px) {
    nav ul {
        margin-top: -29rem;
    }
    header {
        margin-left: 17.5rem;
    }

}
@media screen and (max-width: 800px) {
    nav ul {
        margin-top: -29rem;
    }
    header {
        margin-left: 15rem;
    }

}
@media screen and (max-width: 800px) {
    nav ul {
        margin-top: -29rem;
    }
    header {
        margin-left: 15rem;
    }

}
@media screen and (max-width: 700px) {
    nav ul {
        margin-top: -29rem;
    }
    header {
        margin-left: 13rem;
    }
    #projects {
        margin-top: 7rem;
        margin-bottom: -3rem;
    }

}
@media screen and (max-width: 700px) {
   
    header {
        margin-left: 10rem;
    }
    #projects {
        margin-top: 7rem;
        margin-bottom: -3rem;
    }
    #bitmoji{
        height: 300px;
    }
    
    #aboutMe {
        margin-top: 0rem; 
        height: 20%;
        width: 65%;
        padding: 0.5rem; 
        margin-right: 0.5rem;
    }
    #aboutMe p {
        line-height: 1.40rem;
    }


}




    


/*





#aboutMe {
    background-color: rgb(244, 198, 174);
    float: right;
    border: 0.25rem solid black;
    margin-right: 4rem;
    margin-top: 13rem;
    width: 60%;
    height: 40%;
    padding: 1rem;
    position: relative;
    display: block;
}

#aboutMe  h2 {
    text-align: center;
    font-size: 2rem;
    display: inline-flex;
  
}
#aboutMe p {
    font-size: 1rem;
    height: 40%;
    line-height: 2rem;
}
#projects {
    text-align: center;
    font-size: 2rem;
}

*/