html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: beige;
}
header {
    height: 5rem;
    margin-top: -1rem;
    width: 40%;
    position: relative;
    margin-bottom: 4rem;
    

}


h1 {
    text-align: center;
    font-size: 4rem;
    display: flex;
    top: 0rem;
    position: relative;
    width: 100%;
    height: auto;
    margin-right: 2rem;
  

   
} 

nav {
    float: right;
}
nav ul {
    margin-top: -8rem;
}
ul li {
    margin-top: 0rem;
}

nav ul li {
    padding: 1rem;
    margin: 0;
    list-style-type: none;
    background-color: rgb(229, 185, 132);
    border-radius: 0.5rem;
    text-align: center;
    display: inline-block;
  
    margin-right: 2rem;
    box-shadow: 0.5em  0.5em  0.5em black;
    
 

}
nav ul li a {
    text-decoration: none;
  
}

#bitmoji{
    height: 700px;
}

#aboutMe {
    float: right;
    border: 0.25rem solid black;
    margin-right: 4rem;
    margin-top: 13rem;
    width: 60%;
    height: 40%;
    padding: 1rem;
    position: relative;
    display: block;
}

#aboutMe  h2 {
    text-align: center;
    font-size: 2rem;
    display: inline-flex;
  
}
#aboutMe p {
    font-size: 1rem;
    height: 40%;
    line-height: 2rem;
}
#projects {
    text-align: center;
    font-size: 2rem;
}

.project img {
    height: 200px;
    width: 300px;
    padding: 10px 10px;
    margin: 2rem;
}

.project-container {
    display: inline-flex;
    width: 100%;
    max-width: 90rem;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#skills{
    text-align: center;
    align-content: center;
    font-size: 2rem;
   
}
.logo {
    height: 50px;
    width: 50px;
    padding: 10px 10px;
    margin: 2rem;
    align-items: center;
    justify-content:space-between;
    text-align: center;
}
#skills-container {
    width: 100%;
    align-items: center;
    justify-content:space-between;
    text-align: center;

}
footer{
    align-items: center;
    justify-content:space-between;
    text-align: center;

}
    

